:root {
  --pri: #08fdd8;
  --sec: #fd2055;
  --bg: #1d1d1d;
  --bg-alt: #181818;
  --bg-form: #3c3c3c;
  --text: #d9d9d9;
  --text-alt: #8d8d8d;
  --tag: #515151;
}

@font-face {
  font-family: 'coolvetica';
  src: url('../public/fonts/coolvetica-rg.woff2') format('woff2');
}

.aside-back {
  min-width: 13rem;
  height: 100vh;
  z-index: -1 !important;
}

.main {
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  min-width: 13rem;
  height: 100vh;
}

.container-text {
  display: flex;
  flex-direction: column;
  margin-left: 9rem;
  align-self: center;

}

.tag {
  color: var(--tag);
  font-size: 1.8rem;
  font-style: italic;
  font-family: "La Belle Aurore";
}

.head {
  margin: -1.5rem 0 -1rem 0;
  color: var(--pri);
  width: max-content;
  z-index: 0;


  &_alt {
    position: relative;
    color: var(--text);
    font-size: 1.6rem;
    line-height: 1.5;
    z-index: 1;
  }
}

// utility

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  display: flex;
  flex-direction: column;
}



//  tags
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

.snap-scroll {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--pri);
  font-size: 1.6rem;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "coolvetica", sans-serif;
}


menu {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {

  background-color: #1d1d1d;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0rem;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

// Media Queries

// "1920x1080",8.93
// "360x800",6.53
// "1366x768",6.35
// "1536x864",4.12
// "390x844",3.79
// "414x896",3.61
// "412x915",3.28
// "360x640",2.71
// "393x873",2.7
// "360x780",2.59
// "1280x720",2.52
// "1440x900",2.33
// "375x812",2.27
// "375x667",2.04
// "360x760",2.01
// "385x854",1.92
// "393x851",1.85
// "428x926",1.75
// "412x892",1.46
// "768x1024",1.33
// "Other",35.92

// 4k. 3840 × 2160
// 1440p. 2560 x 1440
// 1080p. 1920 x 1080
// 720p. 1280 x 720


@media (max-width: 1000px) {
  html {
    font-size: 27.3%;
  }
}


//////////MOBILE DESIGN ////////////
/// 
@media (max-width: 600px) {

  .tendrils {
    display: none;
  }

  // sidebar

  .aside-back {
    display: none;
  }

  aside {
    height: 16rem !important;
    width: 100% !important;
  }


  ////////////////////////////////////////////
  ///////////////   ABOUT   //////////////////
  ////////////////////////////////////////////

  .about {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: end;
    // padding-top: 9rem;

    p {
      width: max-content;
    }

    .container-text {
      margin: 0 !important;
      width: 80% !important;

      .head_alt {
        width: 100%;
        font-size: 2.2rem;
      }
    }

    .tag-last {
      margin: 0 0 0 -1rem !important;
    }

    .tagcloud {
      align-self: center;
      margin-top: -1rem;
      margin-bottom: 1rem;
    }

  }

  ////////////////////////////////////////////
  //////////////   SKILLS   //////////////////
  ////////////////////////////////////////////


  .skills {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-text {
      width: 80% !important;

      .head_alt {
        width: 100%;
        font-size: 2.2rem;
      }
    }
  }


}

//mobile/desktop break

@media (min-width: 1000px) {
  html {
    font-size: 27.3%;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 57.5%;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}


@media (min-width: 1800px) {
  html {
    font-size: 65%;
  }
}



@media (min-width: 2200px) {
  html {
    font-size: 67.7%;
  }
}

// 1440p
@media (min-width: 2560px) {
  html {
    font-size: 70%;
  }

  .skills {
    .container {
      width: 40% !important;
    }
  }

  .tagcloud {
    font-size: 2.5rem;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 77.5%;
  }
}

@media (min-width: 3400px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 97.5%;

  }
}