:root {
  --primary: #08fdd8;
  --secondary: #FD2055;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

