:root {
  --primary: #08fdd8;
  --secondary: #FD2055;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  /* color: white; */
  color: #515152;
  font-size: 1.8rem;
  font-style: italic;
  font-family: "La Belle Aurore";
}

.sidebar-back {
  height: 100vh;
  width: 13rem;
  background-color: #1d1d1d;
}

