:root {
  --pri: #08fdd8;
  --sec: #fd2055;
  --bg: #1d1d1d;
  --bg-alt: #181818;
  --text: #d9d9d9;
  --text-alt: #8d8d8d;
  --tag: #515151;
}

.main {
  display: flex;
  width: calc(100vw - 20.5rem);
  margin-left: 20.5rem;
  height: 100vh;
}

.container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
}

.tag {
  color: var(--tag);
  font-size: 1.8rem;
  font-style: italic;
  font-family: "La Belle Aurore";
}

.head {
  margin: -1.5rem 0 -1rem 0;
  color: var(--pri);
  z-index: 1;


  &_alt {
    color: var(--text);
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--pri);
}

